In [25]:
#Import the libraries needed for Lending CLub Case study
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re as re


# fution to find the columns where all values are NaN
def find_column_with_all_NaN (df):
  nan_lst = [x for x in df.columns if len(df.index) == df[x].isnull().sum()]
  return nan_lst
       
#Deletes the given list of columns and modifies the dataframe accordingly
def del_columns_from_dataframe(df, del_lst) : 
  df.drop(del_lst, axis=1, inplace = True)

#Funtion to find the list of columns with more than/equlals to 90%  NaN values 
def find_column_with_90percent_or_more_NaN (df):
  list_90percent = [x for x in df.columns if((df[x].isnull().sum() / len(df.index))*100) >= 90]     
  return list_90percent

def convert_emp_len(emp_len) :
  emp_len = re.findall('(\d+)', emp_len) #emp_len.astype('str').str.extractall('(\d+)')
    
  #emp_len = emp_len.rstrip("+ years")
  #emp_len = emp_len.rstrip(" years")
  #emp_len = emp_len.rstrip(" year")
  #emp_len = emp_len.lstrip("<")
  #emp_len = [int(x) for x in emp_len.split() if x.isdigit()] 
  #print(emp_len)
  return(emp_len)

    
#Read the data set for the case study 
club_case_study_df = pd.read_csv('C:\\Users\\G50-70\\Downloads\\CaseStudys\\LendingClubCaseStudy\\loan\\loan.csv', low_memory=False)

#Print shape of dataframe to know number of columns and rows
print("Shape of dataframe : {}".format( club_case_study_df.shape) )

#print(club_case_study_df.head())


#print(club_case_study_df.describe())
#print(club_case_study_df.columns)

#Printing number of missing values per column
print("Number of missing values per column : \n", club_case_study_df.isnull().sum(), "\n")

#From analysis missing values many columns have all missing values and find list of columns with NaN values
nan_column_lst = find_column_with_all_NaN(club_case_study_df)

#Drop the columans with all Nan
del_columns_from_dataframe(club_case_study_df, nan_column_lst)
print("Number of columns with all NaN vlaues : {}".format(len(nan_column_lst)))
print("Shape of data frame after dropping columnus with all NaN : {} \n".format(club_case_study_df.shape))

#Find columns with 90% or more of NaN values
list_90 = find_column_with_90percent_or_more_NaN(club_case_study_df)
#Delete columns with 90 0r more percent of NaN values
del_columns_from_dataframe(club_case_study_df, list_90)
print("Number of columns with all 90% or more NaN vlaues : {}".format(len(list_90)))
print("Shape of data frame after dropping columnus with 90% or more NaN : {} \n".format(club_case_study_df.shape))

#Print number of missing values per column after removing columns with more than 90% values missing
print("Number of missing values per column after droping columns : \n", club_case_study_df.isnull().sum(), "\n")

#print desc column to anylsis the data as this column has many missing valyes
print("Printing Desc : \n", club_case_study_df["desc"].head())
# desc column will not be used for loan decision also just description hence droping 
del_columns_from_dataframe(club_case_study_df, 'desc')
#club_case_study_df.drop('desc', axis =1, inplace=True)

# Column 'mths_since_last_delinq' has more than 64% missing values. 
print("\nPrinting mths_since_last_delinq with non missing values")
print(club_case_study_df[club_case_study_df["mths_since_last_delinq"].isnull() == False]["mths_since_last_delinq"].tail())
# Either we can drop or impute the missing values. 
#Decided to impute with zero for all mising values  

print("Number of missing values per column : \n", club_case_study_df.isnull().sum(), "\n")
print("Employee title , employee lenght \n", club_case_study_df[['emp_title', 'emp_length']].head())
#Drop row with emp__lengh as NaN
club_case_study_df = club_case_study_df[club_case_study_df['emp_length'].isnull() == False]
#Drop rows were emp_tite is NaN as it is different impute title and NaN are less
club_case_study_df = club_case_study_df[club_case_study_df['emp_title'].isnull() == False]
#print("Number of missing values per column : \n", club_case_study_df.isnull().sum(), "\n")

#print "collections_12_mths_ex_med" and "" columns for analysis
print(club_case_study_df[ ['collections_12_mths_ex_med','chargeoff_within_12_mths']  ].tail())
club_case_study_df = club_case_study_df[club_case_study_df['collections_12_mths_ex_med'].isnull() == False]
#print("Number of missing values per column : \n", club_case_study_df.isnull().sum(), "\n")

print(club_case_study_df['pub_rec_bankruptcies'][-150 : -140])

#Will impute missing values with zero as many values are zero
club_case_study_df['pub_rec_bankruptcies'].fillna(0, inplace = True)

#Fill mths_since_last_delinq with zero for missing value as many are missing.
club_case_study_df['mths_since_last_delinq'].fillna(0, inplace = True)

#Will drop rowa wherw  "last_pymnt_d" and "revol_util" are NaN as these have negligible in number 
club_case_study_df = club_case_study_df[club_case_study_df['last_pymnt_d'].isnull() == False]
club_case_study_df = club_case_study_df[club_case_study_df['revol_util'].isnull() == False]
print("Number of missing values per column : \n", club_case_study_df.isnull().sum(), "\n")


#Now we handled all missing values. Now will move analyze and correct data tupe of columns
#print(club_case_study_df.info())

# term, int_rate and zip_code should not be object. Let us inspect the values 
print("Term   and int_rate \n", club_case_study_df[['term', 'int_rate', 'zip_code']].head())
club_case_study_df['term'] = club_case_study_df['term'].apply(lambda x : int(x.rstrip(" months")))
club_case_study_df['int_rate'] = club_case_study_df['int_rate'].apply(lambda x : pd.to_numeric(x.rstrip("%")))
club_case_study_df['zip_code'] = club_case_study_df['zip_code'].apply(lambda x : int(x.rstrip("xx")))

# Looks grade, sub_grade, emp_lenght should not be objact, Print to analyze
#print("Grade  Sub_grade  and emp_lenght\n", club_case_study_df[['grade', 'sub_grade', 'emp_length']].head())

#club_case_study_df['emp_length'] = club_case_study_df['emp_length'].apply(lambda x : convert_emp_len(x))
club_case_study_df['emp_length'] = club_case_study_df['emp_length'].apply(lambda x : re.findall('(\d+)' , str(x))[0])
club_case_study_df['emp_length'] = club_case_study_df['emp_length'].apply(lambda x : pd.to_numeric(x))

#Remove % from revol_util column
club_case_study_df['revol_util'] = club_case_study_df['revol_util'].apply(lambda x : pd.to_numeric(x.rstrip("%")))
print("Printing emp_length and revol_util after correcting type \n", club_case_study_df[['emp_length', 'revol_util']])
#Print remaining columns which of object type for analysis
print(club_case_study_df[['earliest_cr_line','initial_list_status', 'pymnt_plan', 'application_type', 'last_credit_pull_d']].head())


print("Print 'initial_list_status' with values other than f")
print(club_case_study_df[club_case_study_df['initial_list_status']!='f']['initial_list_status'])

print("Print 'pymnt_plan' with values other than n")
print(club_case_study_df[club_case_study_df['pymnt_plan']!='n']['pymnt_plan'])

#From this looks all values are initial_list_status are f and pymnt_plan are n, 
#hence drop the both columns
#lst_del is hold columns to be deleted
lst_del = ['initial_list_status', 'pymnt_plan']

print(club_case_study_df.head())
#print(club_case_study_df.info())
print(club_case_study_df.shape)
#print(club_case_study_df.describe())

#From output of describe, some columns have all zeros as values. Hence we will drop these columns
# Columns 'policy_code' has all ones, hence droping it
lst_del.extend(['policy_code','acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt', 'tax_liens', 'collections_12_mths_ex_med'])
print("List of columns getting deleted : \n", lst_del)
del_columns_from_dataframe(club_case_study_df, lst_del)
print(club_case_study_df.info())
print(club_case_study_df.describe())


#From output it clear that member_id and id are not repeated

#By looking at both columns data, both have NaN values in same rows, hence decided to drop 


#Univariate analysis 

#Plot bar plat on loan status , tearm, months , home_owership



#data_dictionary_df = pd.read_excel("C:\\Users\\G50-70\\Downloads\\CaseStudys\\LendingClubCaseStudy\\Data_Dictionary.xlsx")
#data_dictionary = data_dictionary_df.to_dict()
#print(data_dictionary)

Shape of dataframe : (39717, 111)
Number of missing values per column :
 id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

Number of columns with all NaN vlaues : 54
Shape of data frame after dropping columnus with all NaN : (39717, 57)

Number of columns with all 90% or more NaN vlaues : 2
Shape of data frame after dropping columnus with 90% or more NaN : (39717, 55)

Number of missing values per column after droping columns :
 id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12940
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq        25682
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64

Printing Desc :
 0      Borrower added on 12/22/11 > I need to upgra...
1      Borrower added on 12/22/11 > I plan to use t...
2                                                  NaN
3      Borrower added on 12/21/11 > to pay for prop...
4      Borrower added on 12/21/11 > I plan on combi...
Name: desc, dtype: object

Printing mths_since_last_delinq with non missing values
39712     0.0
39713     5.0
39714     0.0
39715     0.0
39716    11.0
Name: mths_since_last_delinq, dtype: float64
Number of missing values per column :
 id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq        25682
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64

Employee title , employee lenght
                   emp_title emp_length
0                       NaN  10+ years
1                     Ryder   < 1 year
2                       NaN  10+ years
3       AIR RESOURCES BOARD  10+ years
4  University Medical Group     1 year
       collections_12_mths_ex_med  chargeoff_within_12_mths
39710                         NaN                       NaN
39711                         NaN                       NaN
39712                         NaN                       NaN
39713                         NaN                       NaN
39716                         NaN                       NaN
39498   NaN
39499   NaN
39500   NaN
39501   NaN
39502   NaN
39503   NaN
39504   NaN
39505   NaN
39506   NaN
39507   NaN
Name: pub_rec_bankruptcies, dtype: float64
Number of missing values per column :
 id                            0
member_id                     0
loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
term                          0
int_rate                      0
installment                   0
grade                         0
sub_grade                     0
emp_title                     0
emp_length                    0
home_ownership                0
annual_inc                    0
verification_status           0
issue_d                       0
loan_status                   0
pymnt_plan                    0
url                           0
purpose                       0
title                         9
zip_code                      0
addr_state                    0
dti                           0
delinq_2yrs                   0
earliest_cr_line              0
inq_last_6mths                0
mths_since_last_delinq        0
open_acc                      0
pub_rec                       0
revol_bal                     0
revol_util                    0
total_acc                     0
initial_list_status           0
out_prncp                     0
out_prncp_inv                 0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_d                  0
last_pymnt_amnt               0
last_credit_pull_d            0
collections_12_mths_ex_med    0
policy_code                   0
application_type              0
acc_now_delinq                0
chargeoff_within_12_mths      0
delinq_amnt                   0
pub_rec_bankruptcies          0
tax_liens                     0
dtype: int64

Term   and int_rate
          term int_rate zip_code
1   60 months   15.27%    309xx
3   36 months   13.49%    917xx
4   60 months   12.69%    972xx
5   36 months    7.90%    852xx
6   60 months   15.96%    280xx
Printing emp_length and revol_util after correcting type
        emp_length  revol_util
1               1         9.4
3              10        21.0
4               1        53.9
5               3        28.3
6               8        85.6
...           ...         ...
39661           9         0.7
39662          10         1.0
39663           1        79.6
39664           1        19.8
39665           1        11.0

[37049 rows x 2 columns]
  earliest_cr_line initial_list_status pymnt_plan application_type  \
1           Apr-99                   f          n       INDIVIDUAL
3           Feb-96                   f          n       INDIVIDUAL
4           Jan-96                   f          n       INDIVIDUAL
5           Nov-04                   f          n       INDIVIDUAL
6           Jul-05                   f          n       INDIVIDUAL

  last_credit_pull_d
1             Sep-13
3             Apr-16
4             May-16
5             Jan-16
6             May-16
Print 'initial_list_status' with values other than f
Series([], Name: initial_list_status, dtype: object)
Print 'pymnt_plan' with values other than n
Series([], Name: pymnt_plan, dtype: object)
        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  term  \
1  1077430    1314167       2500         2500           2500.0    60
3  1076863    1277178      10000        10000          10000.0    36
4  1075358    1311748       3000         3000           3000.0    60
5  1075269    1311441       5000         5000           5000.0    36
6  1069639    1304742       7000         7000           7000.0    60

   int_rate  installment grade sub_grade  ... last_pymnt_amnt  \
1     15.27        59.83     C        C4  ...          119.66
3     13.49       339.31     C        C1  ...          357.48
4     12.69        67.79     B        B5  ...           67.79
5      7.90       156.46     A        A4  ...          161.03
6     15.96       170.08     C        C5  ...         1313.76

   last_credit_pull_d collections_12_mths_ex_med  policy_code  \
1              Sep-13                        0.0            1
3              Apr-16                        0.0            1
4              May-16                        0.0            1
5              Jan-16                        0.0            1
6              May-16                        0.0            1

  application_type acc_now_delinq chargeoff_within_12_mths delinq_amnt  \
1       INDIVIDUAL              0                      0.0           0
3       INDIVIDUAL              0                      0.0           0
4       INDIVIDUAL              0                      0.0           0
5       INDIVIDUAL              0                      0.0           0
6       INDIVIDUAL              0                      0.0           0

  pub_rec_bankruptcies tax_liens
1                  0.0       0.0
3                  0.0       0.0
4                  0.0       0.0
5                  0.0       0.0
6                  0.0       0.0

[5 rows x 54 columns]
(37049, 54)
List of columns getting deleted :
 ['initial_list_status', 'pymnt_plan', 'policy_code', 'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt', 'tax_liens', 'collections_12_mths_ex_med']
<class 'pandas.core.frame.DataFrame'>
Int64Index: 37049 entries, 1 to 39665
Data columns (total 46 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       37049 non-null  int64
 1   member_id                37049 non-null  int64
 2   loan_amnt                37049 non-null  int64
 3   funded_amnt              37049 non-null  int64
 4   funded_amnt_inv          37049 non-null  float64
 5   term                     37049 non-null  int64
 6   int_rate                 37049 non-null  float64
 7   installment              37049 non-null  float64
 8   grade                    37049 non-null  object
 9   sub_grade                37049 non-null  object
 10  emp_title                37049 non-null  object
 11  emp_length               37049 non-null  int64
 12  home_ownership           37049 non-null  object
 13  annual_inc               37049 non-null  float64
 14  verification_status      37049 non-null  object
 15  issue_d                  37049 non-null  object
 16  loan_status              37049 non-null  object
 17  url                      37049 non-null  object
 18  purpose                  37049 non-null  object
 19  title                    37040 non-null  object
 20  zip_code                 37049 non-null  int64
 21  addr_state               37049 non-null  object
 22  dti                      37049 non-null  float64
 23  delinq_2yrs              37049 non-null  int64
 24  earliest_cr_line         37049 non-null  object
 25  inq_last_6mths           37049 non-null  int64
 26  mths_since_last_delinq   37049 non-null  float64
 27  open_acc                 37049 non-null  int64
 28  pub_rec                  37049 non-null  int64
 29  revol_bal                37049 non-null  int64
 30  revol_util               37049 non-null  float64
 31  total_acc                37049 non-null  int64
 32  out_prncp                37049 non-null  float64
 33  out_prncp_inv            37049 non-null  float64
 34  total_pymnt              37049 non-null  float64
 35  total_pymnt_inv          37049 non-null  float64
 36  total_rec_prncp          37049 non-null  float64
 37  total_rec_int            37049 non-null  float64
 38  total_rec_late_fee       37049 non-null  float64
 39  recoveries               37049 non-null  float64
 40  collection_recovery_fee  37049 non-null  float64
 41  last_pymnt_d             37049 non-null  object
 42  last_pymnt_amnt          37049 non-null  float64
 43  last_credit_pull_d       37049 non-null  object
 44  application_type         37049 non-null  object
 45  pub_rec_bankruptcies     37049 non-null  float64
dtypes: float64(18), int64(13), object(15)
memory usage: 13.3+ MB
None

                 id     member_id     loan_amnt   funded_amnt  \
count  3.704900e+04  3.704900e+04  37049.000000  37049.000000
mean   6.831674e+05  8.504390e+05  11293.298740  11020.404734
std    2.098933e+05  2.648674e+05   7418.903247   7154.062220
min    5.574200e+04  7.472400e+04    500.000000    500.000000
25%    5.165060e+05  6.671760e+05   5600.000000   5500.000000
50%    6.647400e+05  8.497320e+05  10000.000000  10000.000000
75%    8.374500e+05  1.047185e+06  15000.000000  15000.000000
max    1.077430e+06  1.314167e+06  35000.000000  35000.000000

       funded_amnt_inv          term      int_rate   installment  \
count     37049.000000  37049.000000  37049.000000  37049.000000
mean      10467.169415     42.516127     12.052947    326.366933
std        7095.091781     10.673810      3.717105    207.452472
min           0.000000     36.000000      5.420000     16.080000
25%        5000.000000     36.000000      9.320000    168.930000
50%        9000.000000     36.000000     11.860000    283.930000
75%       14400.000000     60.000000     14.590000    432.260000
max       35000.000000     60.000000     24.400000   1305.190000

         emp_length    annual_inc  ...  out_prncp_inv   total_pymnt  \
count  37049.000000  3.704900e+04  ...   37049.000000  37049.000000
mean       5.113471  6.928307e+04  ...      51.345182  12282.550133
std        3.399167  6.422709e+04  ...     375.343814   9019.932542
min        1.000000  4.000000e+03  ...       0.000000     33.730000
25%        2.000000  4.167600e+04  ...       0.000000   5668.000000
50%        4.000000  6.000000e+04  ...       0.000000  10086.502360
75%        9.000000  8.300000e+04  ...       0.000000  16670.404960
max       10.000000  6.000000e+06  ...    6307.370000  58563.679930

       total_pymnt_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  \
count     37049.000000     37049.000000   37049.000000        37049.000000
mean      11689.491995      9896.068179    2292.219802            1.341369
std        8920.228202      7036.701555    2614.234793            7.241981
min           0.000000         0.000000       6.220000            0.000000
25%        5249.810000      4800.000000     677.920000            0.000000
50%        9451.000000      8098.670000    1378.230000            0.000000
75%       15943.540000     13999.990000    2870.270000            0.000000
max       58563.680000     35000.020000   23563.680000          180.200000

         recoveries  collection_recovery_fee  last_pymnt_amnt  \
count  37049.000000             37049.000000     37049.000000
mean      92.920865                11.792066      2724.437227
std      681.430872               141.119544      4458.288622
min        0.000000                 0.000000         0.010000
25%        0.000000                 0.000000       225.330000
50%        0.000000                 0.000000       566.190000
75%        0.000000                 0.000000      3417.330000
max    29623.350000              7002.190000     36115.200000

       pub_rec_bankruptcies
count          37049.000000
mean               0.040676
std                0.198495
min                0.000000
25%                0.000000
50%                0.000000
75%                0.000000
max                2.000000

[8 rows x 31 columns]