In [ ]:
#Import the libraries needed for Lending CLub Case study
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re as re


# fution to find the columns where all values are NaN
def find_column_with_all_NaN (df):
  nan_lst = [x for x in df.columns if len(df.index) == df[x].isnull().sum()]
  return nan_lst
       
#Deletes the given list of columns and modifies the dataframe accordingly
def del_columns_from_dataframe(df, del_lst) : 
  df.drop(del_lst, axis=1, inplace = True)

#Funtion to find the list of columns with more than/equlals to 90%  NaN values 
def find_column_with_90percent_or_more_NaN (df):
  list_90percent = [x for x in df.columns if((df[x].isnull().sum() / len(df.index))*100) >= 90]     
  return list_90percent

def convert_emp_len(emp_len) :
  emp_len = re.findall('(\d+)', emp_len) #emp_len.astype('str').str.extractall('(\d+)')
    
  #emp_len = emp_len.rstrip("+ years")
  #emp_len = emp_len.rstrip(" years")
  #emp_len = emp_len.rstrip(" year")
  #emp_len = emp_len.lstrip("<")
  #emp_len = [int(x) for x in emp_len.split() if x.isdigit()] 
  #print(emp_len)
  return(emp_len)

    
#Read the data set for the case study 
club_case_study_df = pd.read_csv('C:\\Users\\G50-70\\Downloads\\CaseStudys\\LendingClubCaseStudy\\loan\\loan.csv', low_memory=False)

#Print shape of dataframe to know number of columns and rows
print("Shape of dataframe : {}".format( club_case_study_df.shape) )

#print(club_case_study_df.head())


#print(club_case_study_df.describe())
#print(club_case_study_df.columns)

#Print number of missing values per column
print("Number of missing values per column : \n", club_case_study_df.isnull().sum(), "\n")

#From analysis missing values many columns have all missing values and find list of columns with NaN values
nan_column_lst = find_column_with_all_NaN(club_case_study_df)

#Drop the columans with all Nan
del_columns_from_dataframe(club_case_study_df, nan_column_lst)
print("Number of columns with all NaN vlaues : {}".format(len(nan_column_lst)))
print("Shape of data frame after dropping columnus with all NaN : {} \n".format(club_case_study_df.shape))

#Find columns with 90% or more of NaN values
list_90 = find_column_with_90percent_or_more_NaN(club_case_study_df)
#Delete columns with 90 0r more percent of NaN values
del_columns_from_dataframe(club_case_study_df, list_90)
print("Number of columns with all 90% or more NaN vlaues : {}".format(len(list_90)))
print("Shape of data frame after dropping columnus with 90% or more NaN : {} \n".format(club_case_study_df.shape))

#Print number of missing values per column after removing columns with more than 90% values missing
print("Number of missing values per column after droping columns : \n", club_case_study_df.isnull().sum(), "\n")

#print desc column to anylsis the data as this column has many missing valyes
print(club_case_study_df["desc"].head(20))
# desc column will not be used for loan decision also just description hence droping 
club_case_study_df.drop('desc', axis =1, inplace=True)

# Column 'mths_since_last_delinq' has more than 64% missing values. 
print("\nPrinting mths_since_last_delinq with non missing values")
print(club_case_study_df[club_case_study_df["mths_since_last_delinq"].isnull() == False]["mths_since_last_delinq"].tail(50) )
# Either we can drop or impute the missing values. 
#Decided to impute with zero for all mising values  

print("Number of missing values per column : \n", club_case_study_df.isnull().sum(), "\n")
print("Employee title , employee lenght \n", club_case_study_df[['emp_title', 'emp_length']].head())
#Drop row with emp__lengh as NaN
club_case_study_df = club_case_study_df[club_case_study_df['emp_length'].isnull() == False]
#Drop rows were emp_tite is NaN as it is different impute title and NaN are less
club_case_study_df = club_case_study_df[club_case_study_df['emp_title'].isnull() == False]
#print("Number of missing values per column : \n", club_case_study_df.isnull().sum(), "\n")

#print "collections_12_mths_ex_med" and "" columns for analysis
print(club_case_study_df[ ['collections_12_mths_ex_med','chargeoff_within_12_mths']  ].tail(50))
club_case_study_df = club_case_study_df[club_case_study_df['collections_12_mths_ex_med'].isnull() == False]
#print("Number of missing values per column : \n", club_case_study_df.isnull().sum(), "\n")

print(club_case_study_df['pub_rec_bankruptcies'][-150 : -100])

#Will impute missing values with zero as many values are zero
club_case_study_df['pub_rec_bankruptcies'].fillna(0, inplace = True)

#Fill mths_since_last_delinq with zero for missing value as many are missing.
club_case_study_df['mths_since_last_delinq'].fillna(0, inplace = True)

#Will drop rowa wherw  "last_pymnt_d" and "revol_util" are NaN as these have negligible in number 
club_case_study_df = club_case_study_df[club_case_study_df['last_pymnt_d'].isnull() == False]
club_case_study_df = club_case_study_df[club_case_study_df['revol_util'].isnull() == False]
print("Number of missing values per column : \n", club_case_study_df.isnull().sum(), "\n")


#Now we handled all missing values. Now will move analyze and correct data tupe of columns
#print(club_case_study_df.info())

# term, int_rate and zip_code should not be object. Let us inspect the values 
print("Term   and int_rate \n", club_case_study_df[['term', 'int_rate', 'zip_code']].head())
club_case_study_df['term'] = club_case_study_df['term'].apply(lambda x : int(x.rstrip(" months")))
club_case_study_df['int_rate'] = club_case_study_df['int_rate'].apply(lambda x : pd.to_numeric(x.rstrip("%")))
club_case_study_df['zip_code'] = club_case_study_df['zip_code'].apply(lambda x : int(x.rstrip("xx")))

# Looks grade, sub_grade, emp_lenght should not be objact, Print to analyze
print("Grade  Sub_grade  and emp_lenght\n", club_case_study_df[['grade', 'sub_grade', 'emp_length']].head())

#club_case_study_df['emp_length'] = club_case_study_df['emp_length'].apply(lambda x : convert_emp_len(x))
club_case_study_df['emp_length'] = club_case_study_df['emp_length'].apply(lambda x : re.findall('(\d+)' , str(x))[0])
club_case_study_df['emp_length'] = club_case_study_df['emp_length'].apply(lambda x : pd.to_numeric(x))

#Remove % from revol_util column
club_case_study_df['revol_util'] = club_case_study_df['revol_util'].apply(lambda x : pd.to_numeric(x.rstrip("%")))
#Print remaining columns which of object type for analysis
print(club_case_study_df[['earliest_cr_line','initial_list_status', 'application_type']].head())

print(club_case_study_df[club_case_study_df['initial_list_status']!='f']['initial_list_status'])

print(club_case_study_df.info())



#By looking at both columns data, both have NaN values in same rows, hence decided to drop 


#Univariate analysis 

#Plot bar plat on loan status , tearm, months , home_owership



#data_dictionary_df = pd.read_excel("C:\\Users\\G50-70\\Downloads\\CaseStudys\\LendingClubCaseStudy\\Data_Dictionary.xlsx")
#data_dictionary = data_dictionary_df.to_dict()
#print(data_dictionary)

Shape of dataframe : (39717, 111)
Number of missing values per column :
 id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

Number of columns with all NaN vlaues : 54
Shape of data frame after dropping columnus with all NaN : (39717, 57)

Number of columns with all 90% or more NaN vlaues : 2
Shape of data frame after dropping columnus with 90% or more NaN : (39717, 55)

Number of missing values per column after droping columns :
 id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12940
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq        25682
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64

0       Borrower added on 12/22/11 > I need to upgra...
1       Borrower added on 12/22/11 > I plan to use t...
2                                                   NaN
3       Borrower added on 12/21/11 > to pay for prop...
4       Borrower added on 12/21/11 > I plan on combi...
5                                                   NaN
6       Borrower added on 12/18/11 > I am planning o...
7       Borrower added on 12/16/11 > Downpayment for...
8       Borrower added on 12/21/11 > I own a small h...
9       Borrower added on 12/16/11 > I'm trying to b...
10      Borrower added on 12/15/11 > I had recived a...
11                                                  NaN
12      Borrower added on 12/15/11 > Plan to pay off...
13      Borrower added on 12/19/11 > I intend to pay...
14                                                  NaN
15                                                  NaN
16                                                  NaN
17      Borrower added on 12/15/11 > Payoff other le...
18      Borrower added on 12/16/11 > This is a loan ...
19                                                  NaN
Name: desc, dtype: object

Printing mths_since_last_delinq with non missing values
39665     0.0
39666    54.0
39667     0.0
39668     0.0
39669     0.0
39670     0.0
39671     0.0
39672     0.0
39673    47.0
39674    44.0
39675    38.0
39676     0.0
39677     5.0
39678     0.0
39679    15.0
39680     0.0
39681     0.0
39682     0.0
39683     0.0
39684     2.0
39685     0.0
39687    78.0
39689    24.0
39690    19.0
39691     0.0
39692     5.0
39693     0.0
39694     0.0
39695     0.0
39696     0.0
39697     0.0
39698     0.0
39699     0.0
39700     0.0
39701     0.0
39702     0.0
39703    19.0
39704     0.0
39705     0.0
39706     0.0
39707     0.0
39708     0.0
39709     0.0
39710     0.0
39711     0.0
39712     0.0
39713     5.0
39714     0.0
39715     0.0
39716    11.0
Name: mths_since_last_delinq, dtype: float64
Number of missing values per column :
 id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq        25682
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64

Employee title , employee lenght
                   emp_title emp_length
0                       NaN  10+ years
1                     Ryder   < 1 year
2                       NaN  10+ years
3       AIR RESOURCES BOARD  10+ years
4  University Medical Group     1 year
       collections_12_mths_ex_med  chargeoff_within_12_mths
39658                         0.0                       0.0
39661                         0.0                       0.0
39662                         0.0                       0.0
39663                         0.0                       0.0
39664                         0.0                       0.0
39665                         0.0                       0.0
39666                         NaN                       NaN
39667                         NaN                       NaN
39668                         NaN                       NaN
39669                         NaN                       NaN
39670                         NaN                       NaN
39671                         NaN                       NaN
39673                         NaN                       NaN
39675                         NaN                       NaN
39676                         NaN                       NaN
39677                         NaN                       NaN
39678                         NaN                       NaN
39679                         NaN                       NaN
39680                         NaN                       NaN
39681                         NaN                       NaN
39682                         NaN                       NaN
39683                         NaN                       NaN
39684                         NaN                       NaN
39685                         NaN                       NaN
39686                         NaN                       NaN
39687                         NaN                       NaN
39688                         NaN                       NaN
39689                         NaN                       NaN
39690                         NaN                       NaN
39691                         NaN                       NaN
39692                         NaN                       NaN
39693                         NaN                       NaN
39694                         NaN                       NaN
39695                         NaN                       NaN
39696                         NaN                       NaN
39697                         NaN                       NaN
39698                         NaN                       NaN
39699                         NaN                       NaN
39701                         NaN                       NaN
39702                         NaN                       NaN
39703                         NaN                       NaN
39705                         NaN                       NaN
39707                         NaN                       NaN
39708                         NaN                       NaN
39709                         NaN                       NaN
39710                         NaN                       NaN
39711                         NaN                       NaN
39712                         NaN                       NaN
39713                         NaN                       NaN
39716                         NaN                       NaN
39498    NaN
39499    NaN
39500    NaN
39501    NaN
39502    NaN
39503    NaN
39504    NaN
39505    NaN
39506    NaN
39507    NaN
39508    NaN
39509    NaN
39510    NaN
39511    NaN
39512    NaN
39513    NaN
39514    NaN
39515    NaN
39516    NaN
39517    NaN
39518    NaN
39520    NaN
39521    NaN
39522    NaN
39523    NaN
39524    NaN
39525    NaN
39526    NaN
39527    NaN
39528    NaN
39529    NaN
39530    NaN
39531    NaN
39532    NaN
39533    NaN
39534    NaN
39535    NaN
39536    NaN
39537    NaN
39538    NaN
39539    NaN
39540    NaN
39541    NaN
39542    NaN
39543    NaN
39545    NaN
39546    NaN
39548    NaN
39550    NaN
39551    1.0
Name: pub_rec_bankruptcies, dtype: float64
Number of missing values per column :
 id                            0
member_id                     0
loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
term                          0
int_rate                      0
installment                   0
grade                         0
sub_grade                     0
emp_title                     0
emp_length                    0
home_ownership                0
annual_inc                    0
verification_status           0
issue_d                       0
loan_status                   0
pymnt_plan                    0
url                           0
purpose                       0
title                         9
zip_code                      0
addr_state                    0
dti                           0
delinq_2yrs                   0
earliest_cr_line              0
inq_last_6mths                0
mths_since_last_delinq        0
open_acc                      0
pub_rec                       0
revol_bal                     0
revol_util                    0
total_acc                     0
initial_list_status           0
out_prncp                     0
out_prncp_inv                 0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_d                  0
last_pymnt_amnt               0
last_credit_pull_d            0
collections_12_mths_ex_med    0
policy_code                   0
application_type              0
acc_now_delinq                0
chargeoff_within_12_mths      0
delinq_amnt                   0
pub_rec_bankruptcies          0
tax_liens                     0
dtype: int64

Term   and int_rate
           term int_rate zip_code
1    60 months   15.27%    309xx
3    36 months   13.49%    917xx
4    60 months   12.69%    972xx
5    36 months    7.90%    852xx
6    60 months   15.96%    280xx
7    36 months   18.64%    900xx
9    60 months   12.69%    774xx
10   60 months   14.65%    853xx
11   36 months   12.69%    913xx
12   36 months   13.49%    245xx
13   36 months    9.91%    606xx
14   36 months   10.65%    951xx
15   36 months   16.29%    641xx
16   36 months   15.27%    921xx
17   36 months    6.03%    067xx
18   36 months   11.71%    890xx
19   36 months    6.03%    921xx
20   60 months   15.27%    770xx
21   36 months   12.42%    335xx
22   36 months   11.71%    799xx
23   36 months   11.71%    917xx
24   36 months   11.71%    900xx
25   36 months    9.91%    605xx
27   60 months   16.77%    150xx
28   36 months   11.71%    326xx
29   36 months   11.71%    564xx
31   36 months    7.90%    080xx
32   60 months   15.96%    330xx
33   36 months    8.90%    974xx
34   36 months   15.96%    934xx
35   36 months   10.65%    405xx
36   36 months    9.91%    946xx
37   36 months    7.90%    445xx
38   36 months   12.42%    850xx
39   60 months   12.69%    604xx
40   36 months    7.51%    292xx
41   36 months    7.90%    088xx
43   36 months   16.77%    029xx
44   36 months    6.03%    700xx
45   36 months    9.91%    010xx
46   36 months    8.90%    441xx
47   36 months   10.65%    104xx
48   36 months    6.03%    067xx
49   36 months    6.62%    061xx
50   36 months    9.91%    616xx
51   36 months    9.91%    913xx
52   36 months   10.65%    947xx
53   36 months   15.96%    914xx
54   36 months    9.91%    765xx
55   60 months   19.91%    980xx

Grade  Sub_grade  and emp_lenght
    grade sub_grade emp_length
1      C        C4   < 1 year
3      C        C1  10+ years
4      B        B5     1 year
5      A        A4    3 years
6      C        C5    8 years
7      E        E1    9 years
9      B        B5   < 1 year
10     C        C3    5 years
11     B        B5  10+ years
12     C        C1   < 1 year
13     B        B1    3 years
14     B        B2    3 years
15     D        D1   < 1 year
16     C        C4    4 years
17     A        A1  10+ years
18     B        B3     1 year
19     A        A1    6 years
20     C        C4    3 years
21     B        B4  10+ years
22     B        B3  10+ years
23     B        B3    5 years
24     B        B3     1 year
25     B        B1    2 years
27     D        D2    2 years
28     B        B3  10+ years
29     B        B3   < 1 year
31     A        A4    5 years
32     C        C5    2 years
33     A        A5    2 years
34     C        C5    7 years
35     B        B2  10+ years
36     B        B1    2 years
37     A        A4     1 year
38     B        B4     1 year
39     B        B5     1 year
40     A        A3    4 years
41     A        A4  10+ years
43     D        D2  10+ years
44     A        A1  10+ years
45     B        B1    6 years
46     A        A5  10+ years
47     B        B2    6 years
48     A        A1  10+ years
49     A        A2    5 years
50     B        B1    8 years
51     B        B1    9 years
52     B        B2   < 1 year
53     C        C5    4 years
54     B        B1     1 year
55     E        E4    7 years
   earliest_cr_line initial_list_status application_type
1            Apr-99                   f       INDIVIDUAL
3            Feb-96                   f       INDIVIDUAL
4            Jan-96                   f       INDIVIDUAL
5            Nov-04                   f       INDIVIDUAL
6            Jul-05                   f       INDIVIDUAL
7            Jan-07                   f       INDIVIDUAL
9            Sep-04                   f       INDIVIDUAL
10           Jan-98                   f       INDIVIDUAL
11           Oct-89                   f       INDIVIDUAL
12           Apr-04                   f       INDIVIDUAL
13           Jul-03                   f       INDIVIDUAL
14           May-91                   f       INDIVIDUAL
15           Sep-07                   f       INDIVIDUAL
16           Oct-98                   f       INDIVIDUAL
17           Aug-93                   f       INDIVIDUAL
18           Oct-03                   f       INDIVIDUAL
19           Jan-01                   f       INDIVIDUAL
20           Nov-97                   f       INDIVIDUAL
21           Feb-83                   f       INDIVIDUAL
22           Jul-85                   f       INDIVIDUAL
23           Apr-03                   f       INDIVIDUAL
24           Jun-01                   f       INDIVIDUAL
25           Feb-02                   f       INDIVIDUAL
27           Oct-03                   f       INDIVIDUAL
28           Aug-84                   f       INDIVIDUAL
29           Nov-06                   f       INDIVIDUAL
31           Nov-81                   f       INDIVIDUAL
32           Feb-97                   f       INDIVIDUAL
33           Apr-05                   f       INDIVIDUAL
34           Oct-07                   f       INDIVIDUAL
35           Jul-05                   f       INDIVIDUAL
36           Dec-00                   f       INDIVIDUAL
37           Nov-04                   f       INDIVIDUAL
38           Apr-07                   f       INDIVIDUAL
39           Dec-01                   f       INDIVIDUAL
40           Jan-03                   f       INDIVIDUAL
41           Mar-94                   f       INDIVIDUAL
43           Jun-04                   f       INDIVIDUAL
44           Nov-95                   f       INDIVIDUAL
45           Jul-99                   f       INDIVIDUAL
46           Jun-95                   f       INDIVIDUAL
47           Nov-06                   f       INDIVIDUAL
48           Sep-92                   f       INDIVIDUAL
49           Jan-02                   f       INDIVIDUAL
50           Apr-92                   f       INDIVIDUAL
51           Jul-99                   f       INDIVIDUAL
52           Apr-04                   f       INDIVIDUAL
53           Oct-06                   f       INDIVIDUAL
54           May-00                   f       INDIVIDUAL
55           Sep-98                   f       INDIVIDUAL
Series([], Name: initial_list_status, dtype: object)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 37049 entries, 1 to 39665
Data columns (total 54 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          37049 non-null  int64
 1   member_id                   37049 non-null  int64
 2   loan_amnt                   37049 non-null  int64
 3   funded_amnt                 37049 non-null  int64
 4   funded_amnt_inv             37049 non-null  float64
 5   term                        37049 non-null  int64
 6   int_rate                    37049 non-null  float64
 7   installment                 37049 non-null  float64
 8   grade                       37049 non-null  object
 9   sub_grade                   37049 non-null  object
 10  emp_title                   37049 non-null  object
 11  emp_length                  37049 non-null  int64
 12  home_ownership              37049 non-null  object
 13  annual_inc                  37049 non-null  float64
 14  verification_status         37049 non-null  object
 15  issue_d                     37049 non-null  object
 16  loan_status                 37049 non-null  object
 17  pymnt_plan                  37049 non-null  object
 18  url                         37049 non-null  object
 19  purpose                     37049 non-null  object
 20  title                       37040 non-null  object
 21  zip_code                    37049 non-null  int64
 22  addr_state                  37049 non-null  object
 23  dti                         37049 non-null  float64
 24  delinq_2yrs                 37049 non-null  int64
 25  earliest_cr_line            37049 non-null  object
 26  inq_last_6mths              37049 non-null  int64
 27  mths_since_last_delinq      37049 non-null  float64
 28  open_acc                    37049 non-null  int64
 29  pub_rec                     37049 non-null  int64
 30  revol_bal                   37049 non-null  int64
 31  revol_util                  37049 non-null  float64
 32  total_acc                   37049 non-null  int64
 33  initial_list_status         37049 non-null  object
 34  out_prncp                   37049 non-null  float64
 35  out_prncp_inv               37049 non-null  float64
 36  total_pymnt                 37049 non-null  float64
 37  total_pymnt_inv             37049 non-null  float64
 38  total_rec_prncp             37049 non-null  float64
 39  total_rec_int               37049 non-null  float64
 40  total_rec_late_fee          37049 non-null  float64
 41  recoveries                  37049 non-null  float64
 42  collection_recovery_fee     37049 non-null  float64
 43  last_pymnt_d                37049 non-null  object
 44  last_pymnt_amnt             37049 non-null  float64
 45  last_credit_pull_d          37049 non-null  object
 46  collections_12_mths_ex_med  37049 non-null  float64
 47  policy_code                 37049 non-null  int64
 48  application_type            37049 non-null  object
 49  acc_now_delinq              37049 non-null  int64
 50  chargeoff_within_12_mths    37049 non-null  float64
 51  delinq_amnt                 37049 non-null  int64
 52  pub_rec_bankruptcies        37049 non-null  float64
 53  tax_liens                   37049 non-null  float64
dtypes: float64(21), int64(16), object(17)
memory usage: 15.5+ MB
None
(37049, 54)